{% extends 'layout.html.twig' %}
{% block content %}
    <div id="aboutwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                </div>
            </div>
            <! --/row -->
        </div> <!-- /container -->
    </div><! --/aboutwrap -->

    <div class="container">
        <div class="row centered mt mb">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Jean Forteroche</h2><br/>
                <p>Sans être un bourlingueur sans feu ni lieu (je suis trop attaché à mon nid d’aigle de la Désirade et
                    à sa bonne amie), je parcours le monde un livre à la main.
                    C’est pour porter la bonne parole littéraire : conférences sur Maître Jacques en Grèce ou en
                    Slovaquie, congrès sur la francophonie au Congo, voyage en Italie pour rencontrer Anne-Marie Jaton,
                    prof de littérature à l’Université de Pise, escapade en Tunisie avec le compère Rafik ben Salah,
                    pour juger, de visu, des progrès du prétendu « Printemps arabe ».
                    Je voyage pour m'échapper, mais aussi pour aller à la rencontre des autres…</p>
                <p>Chaque voyage provoque des secousses et des bouleversements, et je n’en reviens pas indemne.
                    En allant au Portugal, par exemple, je me plonge dans un roman suisse à succès, Train de nuit pour
                    Lisbonne de Pascal Mercier, qui m'ouvre littéralement les portes de la ville.
                    Sitôt arrivé, j'y retrouve le fantôme de Pessoa et les jardins embaumés d’acacias chers à Antonio
                    Tabucchi. La vie et la littérature ne font qu’une.
                    Les frontières sont poreuses entre le rêve et la réalité.</p>
            </div>

        </div>
        <! --/row -->
    </div><! --/container -->


{% endblock %}